:root{
  --color-1: #F5F5F5; 
  --shadow: -10px -10px 30px 0 #FFFFFF, 10px 10px 30px 0 red 40%;
}

::selection{
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: var(--color-1);
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  padding: 200px 20px 80px 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

header{
  padding: 20px 30px;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
}

.timer--container{
  display: flex;
  width: 80px;
  height: 50px;
  align-items: center;
  gap: 5px;
}

.text{
  margin-right: 5px;
}

.time{
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
}

.title{
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  align-self: flex-end;
}

.modal{
  padding: 40px 20px 20px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: clamp(280px, 80%, 400px);
  height: clamp(290px, 70%, 390px);
  background-color: var(--color-1);
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 2;
  align-items: center;
  border-radius: 15px;
  gap: 20px;
}

.backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.dieIcon{
  font-size: 5em;
}

.dice-container {
  display: grid;
  place-items: center;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 30px;
}

.die-face {
  height: clamp(50px, 7vw, 70px);
  width: clamp(50px, 7vw, 70px);
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-face:active{
  transform: scale(.8);
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 15px;
  background-color: #049507;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  justify-self: flex-end;
  border: solid 2px #036805;
  box-shadow: inset 3px 3px 5px 5px rgba(255, 255, 255, 0.2),
  inset -3px -3px 5px 5px rgba(0, 0, 0, 0.4);
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active, .newGame:active{
  box-shadow: none;
}

.timerIcon{
  font-size: 0.9em;
  margin-right: 5px;
}

.newGame{
  margin-bottom: 15px; 
  height: 50px;
  width: 140px;
  border: none;
  border-radius: 6px;
  background-color: #049507;
  border: solid 2px #036805;
  box-shadow: inset 3px 3px 5px 5px rgba(255, 255, 255, 0.2),
  inset -3px -3px 5px 5px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  justify-self: flex-end;
}

.star{
  color: rgb(255, 187, 0);
  margin: 10px 0 15px 0;
  }

.starIcon{
  font-size: 3.8em;;
}

.starIcon:nth-child(2){
  margin: 0 10px 
}

.starIcon:last-child,
.starIcon:first-child{
  font-size: 3em;
  transform: translateY(10px);
}

.modalTimer{
  margin-top: 10px;
  margin-bottom: auto;
}
.reset-button{
  display:grid;
  place-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  border-radius: 50% 50% 50% 0;
  color: white;
  background-color: #049507;
  box-shadow: inset 2px 2px 5px 5px rgba(255, 255, 255, 0.2),
  inset -2px -2px 5px 5px rgba(0, 0, 0, 0.4);
  left: 0;
}




@media only screen and (max-width: 600px) {
  .dice-container {
    width: 200px;
    grid-template: auto auto / repeat(5, clamp(40px, 15vw, 50px));
    gap: 5px;
  }

  .die-face {
    height: clamp(20px, 7vw, 40px);
    width: clamp(20px, 7vw, 40px);
  }
  
  main{
  height: 100%;
  }
  .roll-dice {
    margin-bottom: 50px;
    transform: translate(0, -50px);
  }
}
